{% extends 'main/layout.html' %}
{% block title %}Changer de mot de passe{% endblock %}
{% block content %}
<h1 id="reset">Changer de mot de passe</h1>
<form action="{% url 'password_reset' %}" method="post">
    {% csrf_token %}
    {{form.email}}
    <button type="submit" class="btn btn-success btn-style">Poursuivre</button>
</form>

<script>
    let mail = document.getElementById('id_email')
    mail.classList.add('form-control')
    mail.placeholder = 'Email'
</script>
{% endblock %}