{% extends 'main/layout.html' %}
{% block title %}Nouveau mot de passe{% endblock %}
{% block content %}
    <h1 class="alert alert-success">Nouveau mot de passe</h1>
    <hr>
    <p class="alert alert-info">Changez de mot de passe</p>
    {% if form.errors %}
            <p>{{form.errors.error}}</p>
    {% endif %}
    <form method="post" class="my-form">
        {% csrf_token %}
        {{form.new_password1}}
        {{form.new_password2}}
        {{form}}
        

        <button type="submit" class="btn btn-success btn-style">Changer</button>
    </form>
    
<script>
    let new_password1 = document.getElementById('id_new_password1')
    new_password1.classList.add('form-control')
    new_password1.placeholder = 'Nouveau mot de passe'

    let new_password2 = document.getElementById('id_new_password2')
    new_password2.classList.add('form-control')
    new_password2.placeholder = 'Confirmez le nouveau mot de passe'
</script>
{% endblock %}