{% extends 'main/layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
    <h1 class="alert alert-danger" id="who">Qui sommes nous</h1>
    <div id="text">
        <p class="alert alert-warning" id="we"> Nous sommes une bande commandé par Boss en personne. Eh oui le fameux 'Boss', il a eu un passé très douloureux, et nous a fait part des leçons que lui a donné la vie. Nous sommes ses acolytes fidèles, même s'il n'hésite pas à nous tabasser boss nous fait confiance. De plus Boss a enseigné des terroristes comme <b>Ben lan den</b>, <b>Pablo Escobar</b> ou encore <b>Youssef</b>. Vous le voyez c'est un homme autoritaire et avec de l'expérience. Les deux autres se sont saccrifiés pour sauver Boss, mais Youssef travaille toujours à nos côtés, assurant l'import des marchandises. C'est pourquoi on peut vous assurer la qualité de nos produit. Alors qu'est-ce que vous attendez? Bienvenue sur le site de Boss. Ici vous pouvez commander tout ce que vous voulez sans se faire repérer. Ici c'est la street le business continue avec khabib.</p>
    </div>
    
{% endblock %}