{% extends 'main/layout.html' %}
{% block title %}Nous contacter{% endblock %}
{% block content %}

<h2 class="alert alert-danger" id="contact_h2">Nous contacter par différents moyens</h2>
<div class="alert alert-info" id="contact-list">
    <ul>
        <div class="alert alert-dark">
            <li>Par téléphone: <b>01020304</b></li>
        </div>
        <div class="alert alert-dark">
            <li>Par courriel: <b>coffeeshop@whallah.fr</b></li>
        </div>
        <div class="alert alert-dark">
            <li>Par voie postale: <b>8 rue des Coqueliquots, 85300 Challans</b></li>
        </div>
    </ul> </div>
{% endblock %}