{% extends 'main/layout.html' %}
{% block title %}Nouvelles{% endblock %}
{% block content %}



<div class="detail_view">
<h1>{{ article.title }}</h1>
<p>{{ article.date }}</p>
<p id="text-article">{{ article.full_text }}</p>
    {% if user.is_staff %}
        <a href="{% url 'news-delete' article.id  %}" class="btn btn-danger btn-style">Supprimer l'article</a>
    {% endif %}
    {% if user.is_staff %}
        <a href="{% url 'news-update' article.id  %}" class="btn btn-info btn-style">Modifier l'article</a>
    {% endif %}
</div>



{% endblock %}