{% extends 'main/layout.html' %}
{% block title %}Programmes d'entrainements{% endblock %}
{% block content %}
<h1>Programmes d'entrainements</h1>
<div id="news">
    <button class="btn btn-primary" id="prog">Voir les programmes</button>
    <h3>Nouvelles</h3>
    <div class="news">

    </div>

</div>
<div id="programmes">
    <button class="btn btn-primary" id="blogs">Voir les nouvelles</button>
    <h3>Programmes</h3>
    <div class="programs">
        
    </div>
</div>

{% endblock %}