*{
    margin: 0;
    padding: 0;
    
    
 
}

body{
    background-color: rgb(241, 239, 239);
}

aside{
    width: 15%;
    margin-top: 125px;
    background-color: #111111;
    
    height: 155vh;
    position: fixed;
    top: -0px;
    float: left;
    color: #fff;
    z-index: 1;
    border-right: 2px solid silver;
    border-top: 1px solid silver;
    display: block;
    
}



header{
    
    width: 100%;
    
    background-color: #111111;
    height: 125px;
    
    color: #fff;
    position: relative;
    z-index: 1;
    
    border-bottom: 2px solid silver;
    
}


body{
    background: #2c2c2c;
    color: #fff;
}

main{
    text-align: center;
    justify-content: center;
    margin-left: 15%;
    z-index: 0;
    
   
    
    
}



aside h2{
    margin-top: 65%;
    margin-left: 5%;
    
}

header h1{
    line-height: 125px;
    margin-left: 3%;
    font-size: 2rem;
    width: 23%;
}
aside ul li a{
    color: #fff;
    text-decoration: none;
}

aside ul li{
    list-style: none;
    margin-top: 10%;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 10%;
    transition: transform .75s ease;
}

aside ul li:hover, aside ul li a:hover{
    color: #eb595e;
    transform: scale(1.08);
}

.navigate{
    background-color: #111111;
    color: #fff;
    width: 17%;
    height: 100px;
    float: right;
    text-align: center;
    border-radius: 5px;
    margin-right: 2%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 95px;
    transition: all .8s ease;
    text-decoration: none;
    position: relative;
    bottom: 100%;
    border-bottom: 4px  solid silver;
    border-top: 4px  solid silver;
    border-left: 4.5px double silver; 
    border-right: 4.5px double silver; 
}


.navigate:hover{
    background-color: rgb(241, 239, 239);
    color: #111111;
    cursor: pointer;
}



.alert-info{
    margin-top: 50px;
    
    margin-left: 15%;
    width: 75%;
}
.alert-info:last-of-type{
    margin-bottom: 50px;
}
.alert-info:first-of-type{
    margin-top: 125px;
}


#programmes{
    display: none;
    
}

main .alert-success{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    background-color: chartreuse;

}

main #ka{
    background-color: darkorange;
    color:darkred;
}
.motdepasse{
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
    
}

.motdepasse:hover{
    transform: scale(1.05);
    color: darkmagenta;

}

.img-product{
    width: 300px;
    height: 25%;
    border-radius: 5px;
    border: 3px solid chocolate;
}

.product{
    width: 300px;
    height: 25%;
    float: left;
    position: relative;
    left: 20px;
    margin-right: 5%;
    margin-top: 3%;
    text-align: center;

    
}



@keyframes myAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
  }

.car{
    
    color: #fff;
    transition: all .7s ease;
}
.car:hover{
    transform: scale(0.90);
}

.btn-warning svg{
    animation: myAnimation 2s infinite;
    
}
 
.car{
    margin-bottom: -4%; 
    margin-top: 2%;
} 

#quan{
    margin-bottom: -4%; 
    margin-top: 2%;
    width: 25%;
    text-align: center;
}
.price{
   margin-bottom: -4%; 
   margin-top: 2%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.alert-light{
    width: 50%;
   
    margin-top: 7%;
    text-align: center;
    position: relative;
    left: 25%;
    height: auto;
    bottom: 5px;
}

.alert-dark{
    position: relative;
    top: 10px;
    
}

@keyframes cool {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
  }

#deja{
    width: auto;
    position: relative;
    right: 30px;
    animation: cool 10s infinite;
}

.btn-danger{
    position: relative;
    left: 55px;
    bottom: 10px;
}

#buy{
    position: relative;
    right: 40px;
    top: 28px;
}

#erro{
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;
    
    position: relative;
    
}

#erro span{
    position: relative;
}

#quitter{
    position: relative;
    left: 10px;
    top: 10px;
    transition: all .7s ease;
}

.btn-style{
    transition: all .7s ease;
}

.btn-style:hover{
    transform: scale(1.10)
    translate(-1%, 30%);
    
}
.btn-style:active{
    transform: scale(0.87);
}

#quitter:hover{
    transform: scale(1.10);
}
#quitter:active{
    transform: scale(0.87);
}

.form-control{
    width: 35%;
    margin-bottom: 2%;
    margin-left: 32%;
}

.form-control:first-of-type{
    margin-top: 2%;
}

#wlh{
    margin-top: 2%;
    position: relative;
    left: -10px;
}

#reset{
    margin-bottom: 2%;
}

#pass_change{
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
}

#pass_change a{
    text-decoration: none;
    color:coral;
    transition: all .7s ease;
}

#pass_change a:hover{
    color:darkmagenta;
}

.news_affiche{
    float: left;
    width: 400px;
    text-align: left;
    margin: 20px 33%;
    transition: transform ease .999s;
}

#message_error:empty{
    margin-right: 0;
    color: red;
    font-weight: bold;
    margin-left: 100px;
    background-color: #2c2c2c;
}

#message_error{
    height: 50vh;
    width: 130%;
    padding: 3px;
    background-color: red;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 60%;
}

main .detail_view{

    text-align: center;
    margin-left: 3%;


}

main .detail_view h1{font-size: 50px;}
main .detail_view #text-article{
    text-align: left;
    margin-left: 13%;
    margin-right: 13%;

    background-color: #808080;
    border-width: 5px;
    border-style: solid;
    padding: 12px;
    border-radius: 10px;
    color: #f8f8f8;
}

main .detail_view .btn-danger{
    position: relative;
    left: -20px;
    top: 1px;
}

main .detail_view .btn-info{
    position: relative;
    
    bottom: -1px;
}

#h2_news{
    margin-left: 10%;
    position: relative;
    left: -60px;
    margin-bottom: 2%;
}

#add_new{
    position: relative;
    left: -65px;
    margin-bottom: 5%;
}


main .news_affiche .btn-warning{
    margin-left: 0;
    width: 150px;
}

main .news_affiche:hover{
    transform: translate(-4%, 4%)
    scale(1.10);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}

#no_news{
    margin-left: 1%;
    margin-top: 5%;
    color: red;
    font-weight: 500;
    font-size: 1.5rem;
}

#news-else{
    margin-left: 2%;
    margin-top: 2%;
}

#access_denied{
    position: relative;
    left: 25%;
    top: 200px;
  }

aside ul li a button{
    width: 100%;
    position: relative;
    left: -10px;
    font-size: 1.3rem;
    font-weight: 600;
}

aside ul li a svg{
    position: relative;
    left: -3px;
    top: -2.5px;
    width: 20%;
}

#hello{
    width: 50%;
    margin-top: 7%;
    position: relative;
    left: 25%;
}

#slogan{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    animation: myAnimation 2s infinite;
}

#notre{
    position: relative;
    top: 10px;
}

#confiance{
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;
    font-size: 1.3rem;
}

#who{
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;
}

#text{
    width: 50%;
    margin-left: 25%;
    text-align: left;
}

#contact_h2{
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;

}

#contact_list ul div{
    list-style: none;
    text-align: left;
}